OPENAI_API_KEY = "your-openai-api-key"
GOOGLE_API_KEY = "your-google-ai-studio-api-key"
SERPAPI_API_KEY = "your-serpapi-api-key"

# Optional
LANGCHAIN_TRACING_V2 = "false"
LANGCHAIN_PROJECT = "tripbreeze-ai"
LANGCHAIN_API_KEY = "your-langsmith-api-key"
